@import "./base.css";

#app {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: hsla(187, 72%, 71%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(187, 72%, 71%, 0.2);
    color: #006064;
  }
}
